@media all and (max-width: 900px){
    nav{
        flex-direction: column;
        border-bottom: 0px;
    }
    nav a{
        text-align: center;
        width: 100%;
        border-bottom: solid white 3px;
    }
    .image_text img{
        align-self: center;
    }
    .loc{
        flex-direction: column;
    }
    .info{
        width: 100%;
    }
    .map{
        width: 100%;
    }
}

@media all and (max-width: 576px){
    nav a{
        font-size: 18px;
    }
    .image_text, .image_text:nth-child(2n){
        flex-direction: column;
        justify-content: space-between;
    }
    .image_text img, .image_text p{
        margin: 1rem 0;
        width: 100%;
        height: auto;
    }
    .form_img{
        display: none;
    }
    .form{
        width: 100%;
        background-size: cover;
    }
}